html,p{
    margin:0;
    padding:0;
    font-size:62.5%;

}
.wrap{
    min-width:320px;
    width:100%;
    background-color:#fafafa;
}
img{
   max-width:100%;
}
.top{
    background-color: white;
    color:#29b078;
    height:40px;
    font-size: 14px;
    text-align: center;
    margin:0 auto;
}
.top p{
    line-height: 40px;
    margin: 0;
}
.top a{
    line-height: 40px;
}

.head0{
    background-color:#29b078;
    width:100%;
}
.navbar-default{
    background-color:#29b078;
    border:none;
}
.navbar{
    margin-bottom:0;
}
.navbar-header{
   height: 100px;
}
.navbar-toggle{
    margin-top:30px;
}
.head0 ul li{
    margin: 0 2px;
}

.navbar-default .navbar-nav > .active > a{
    background-color:#29b078;
    color:white;
    border-bottom:4px solid white;
}
.navbar-default .navbar-nav  .aaa,
.navbar-default .navbar-nav > li > a:hover{
    border-bottom:4px solid white;
    color:white;
}
/*************************************************/
.mainbody .gaoxiao{
    margin-top:4rem;
}
.mainbody span{
    color:#26a26f;
}
.mainbody .sss{
    margin-top:35px;
    border-left:1px dashed  #dedede;

}
.mainbody .study{
    margin-top:40px;
}
.mainbody .learn .circle1{
    width:6rem;
    height:6rem;
    background-color: white;
    font-size:2rem;
    font-weight: 600;
    color:#29b078;
    display:inline-block;
    border-radius: 50%;
    text-align:center;
    vertical-align: middle;
    line-height: 6rem;
    box-shadow: 1px 1px 2px #d0d0d0;
}
.mainbody .learn span{
    display:inline-block;
    width:60%;
    vertical-align: middle;
}
.mainbody .student{
    margin-top:6rem;
}
.mainbody .little-circle .circle2{
    display:inline-block;
    width:1.3rem;
    height:1.3rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 2px #d0d0d0;
}
.mainbody .little-circle .circle2:hover,
.mainbody .little-circle .abs{
    background-color: #29b078;
}
.mainbody .student .student1{
    margin:2rem auto;
    padding:10px;
    width:95%;
    text-align: center;
    background-color:white;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 3px #d0d0d0;
}
.mainbody .company{
    margin-top:6rem;
}

.mainbody .company .company1{
    display:inline-block;
    text-align: center  ;
    width:99%;
   height:10rem;
    background-color: white;
    box-shadow: 1px 1px 2px #d0d0d0;
    line-height: 10rem;
    vertical-align: middle;
}
.mainbody .company .company1 img{
    display: inline-block;
    line-height: 10rem;
}
.col-lg-2,
.col-md-2,
.col-ms-2 ,
.col-xs-2{
    padding:0;
}
.footer {
    margin-top:10rem;
    margin-bottom:2rem;
}
.footer .link{

    background-color:white;
}
.footer .link a{
    font-size: 1.2rem;
    color:#999999;
}

/****************************************************************/
.footer .link li{
    color:#999999;
   padding:0.5rem 1.5rem;
    display:inline-block;

}
.footer .footers{
    background-color:#26a26f;
}
.footer .footers p{

    padding:1rem 0;
    color:white;
    font-size:1.6rem;
}
.footer .footers span{
    display:inline-block;
    padding:1.5rem 0;
    color:white;
    font-size: 1.5rem;
}
.footer  .footers a{
    color:white;
    font-size:1.5rem;
}
/**************************************************/
@media screen and ( min-width:768px ){
   .navbar-nav {
    float: right;
    margin: 0;
   }
    .navbar-default .navbar-nav > li > a {
    color: white;
    padding: 38px 18px;
}
}
@media screen and (max-width: 425px){
html{
    font-size: 45%;
}
    .top p{
        display:none;
    }
}
@media screen and ( max-width:767px ){
html{
    font-size: 45;
}
   .navbar-default .navbar-nav .aaa a{
     color:white;
    }
   .navbar-default .navbar-nav .aaa{
    background-color:#29b078;
  border-bottom:2px solid white;
}
  .navbar-default .navbar-nav > li > a:hover{
    border-bottom:2px solid white;
      color:white;
}
}
